* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#F3EFEB;
}

body {
    /*creating the background*/
    background-image: url(https://i.pinimg.com/736x/10/6b/f0/106bf080d95bae41fa7cb0ae72ecddd0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*alignment of all the content*/
    display: flex;
    min-height: 70vh;
    min-width: 70vh;
    justify-content: center;
    align-items: center;
}

body p { /*alignment of all the content*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center space-evenly;
}

.box { /*creating a box that visually seperates all the content*/
    display: flex;
    height: 50vh;
    width: 80vh; 
    margin: 10px;
    border: 10px solid #6088A6;
    border-radius: 10px;
    box-shadow: 0 8px 20px #3D6089;
    background-color: #6088A6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home { /*creating the button's alignment, color, and sizing*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 120px;
    background-color: #3D6089;
    border: 3px solid #3D6089;
    border-radius: 5px;
}

/*color change animation when mouse hovers*/
#home:hover {
    animation: colorshift 0.5s;
}

@keyframes colorshift {
    50%{
        color: #3D6089;
        background-color: #FAF0E8;
        border-color: #C7D9E5;
    }
}